.adobe {
    font-family: "operetta-12", serif;
    font-weight: 800;
    font-size: 100px;
    font-style: normal;

    &:hover {
        color: purple;
        animation-name: bounce;
        animation-duration: 2s;
    }
}

.google {
    font-family: 'Skranji', system-ui;
    font-size: 100px;

    &:hover {
        color: red;
        animation-name: expand;
        animation-duration: 3s;

    }

}

h3 {
    font-family: 'Satoshi', sans-serif;
    font-size: 100px;

    &:hover {
    color: blue;
    animation: shake 1s;
    }
}

/* captioning */
p {
    font-family: "operetta-12", serif;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
}

.a {
    font-family: 'Skranji', system-ui;

}

.b {
    font-family: 'Satoshi', sans-serif;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Referenced from https://blog.hubspot.com/website/css-hover-animation */

@keyframes expand {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(6);

    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}