* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #01112D;
    margin: 0;
    overflow: scroll;
}

.dot {
    width: 10px;
    height: 10px;
    background: rgb(248, 90, 203);
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
}


/* size layout */

header {
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

/* marquee tutorial from: https://youtu.be/V-kgJU-Fndk?si=drL8BKwrrG1MmvN8*/
.marquee {
    position: relative;
    background-color: #D90368;
    overflow: hidden;
}

.marquee-inner {
    display: flex;
    width: fit-content;
    flex: auto;
    flex-direction: row;
    animation: moveLeft 30s linear infinite;
}

.marquee-part {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 0 4px;

}

.pageOne {
    display: flex;
    flex-direction: row;
}

.title {
    display: flex;
    width: 70vw;
    height: 90vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

/* OVERLAPPING DECOR */
.decor {
    display: flex;
    align-items: center;
    flex-grow: 1;

    /* animation fade in for intro */
    opacity: 0;
    animation: fadeIn 2s 3s forwards;
}

.secondHeader {
    animation: fadeIn 3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}


/* INFORMATION RIGHT SIDE */
.april {
    margin-top: 150px;
    margin: 150px 0px 0px 10px;
}


.info {
    width: 30vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;

    animation: slideLeft 4s 3s forwards;
}

.info-content {
    margin: 25px 20px 55px 22px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}


.learn {
    margin: 120px 0px 130px 0px;
    display: flex;
    flex-direction: column;
    animation-name: fadeIn;
    animation-duration: 10s;

}

/* BEGIN OF PAGE TWO */

.pageTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.morning {
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    animation: fadeIn linear;
    animation-timeline: scroll();

}

.morningItem {
    width: 30vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.events {
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.eventsInfo {
    width: 30vw;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    /* scroll-based from https://www.youtube.com/watch?v=UmzFk68Bwdk&t=15s&ab_channel=KevinPowell */
    animation: scaleUp linear;
    animation-timeline: scroll();
}

.signUp {
    width: 90vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sign {
    width: 90vh;
}

.register {
    width: 30vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    margin-top: 130px;
    border: 2px solid #C4F31A;
    padding: 20px;
    border-radius: 25px;

    &:hover {
        animation: expand 2s ease forwards, glow 3s ease forwards;
    }
}


footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TEXT */

h1 {
    font-family: 'VT323', monospace;
    font-size: 200px;
    font-weight: 400;
    line-height: 160px;
    color: white;

}

.container {
    display: flex;
}

/* characters of THEORIZING  */
.char {
    font-family: 'VT323', monospace;
    font-size: 200px;
    font-weight: 400;
    color: white;
    transition: all 0.2s ease-in-out;
}


/* referenced from https://www.youtube.com/watch?v=mRClOARX26g&ab_channel=CodeWithBubb */
.container h1 {
    animation: typing 2.5s, blink 1s infinite;
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
    border-right: 4px solid white;
}

@keyframes typing {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}

.web {
    font-family: 'Viga', sans-serif;
    font-size: 400px;
    font-weight: 400;
    line-height: 400px;
    font-style: normal;
    color: transparent;
    -webkit-text-stroke: 4px #C4F31A;

}

.web2 {
    font-family: 'Viga', sans-serif;
    font-size: 400px;
    font-weight: 400;
    position: absolute;
    left: 22px;
    top: 34%;
    line-height: 0px;
    color: transparent;
    -webkit-text-stroke: #D90368 4px;
}


h2 {
    font-family: 'VT323', monospace;
    font-size: 50px;
    color: white;
}


h3 {
    font-family: 'Spline Sans Mono', monospace;
    font-size: 20px;
    color: white;

}

.heading {
    font-size: 170px;
    display: flex;
    color: white;
    display: inline-block;

}

.sub {
    font-size: 30px;
    font-weight: 400;
    line-height: 26px;
}

p {
    font-family: 'Spline Sans Mono', monospace;
    font-size: 14px;
    line-height: 18px;
    color: white;
}

.down {
    font-size: 100px;
    line-height: 30px;
    text-align: center;
}

/* top and bottom line of organizers */
.committee {
    font-family: 'VT323', monospace;
    font-size: 20px;
    color: white;
}

.date {
    font-family: 'Viga', sans-serif;
    font-size: 120px;
    font-weight: 400;
    line-height: 100px;
    color: transparent;
    -webkit-text-stroke: #D90368 1px;
    text-align: right;
    opacity: 1;
}

/* TEXT reveal from https://www.youtube.com/watch?v=EBENCwqVMxs&ab_channel=CluelessExpert */

.outline {
    color: transparent;
    -webkit-text-stroke: 3px #2AE3EF;
    position: relative;
}

.outline::before {
    content: "SIGN UP";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: #2AE3EF;
    border-right: 8px solid #2AE3EF;
    transition: 1s ease-in-out;

}

.outline:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px #2AE3EF)
}


/* COLOURS */

.pink {
    color: #D90368;
}

.green {
    color: #C4F31A;
}

.blue {
    color: #2AE3EF;
}

a:visited {
    color: #D90368;
}


/* ANIMATIONS */

.right {
    display: inline-block;

    &:hover {

        animation: slideRight 4s ease forwards;
    }
}


@keyframes expand {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(2);
        background-color: white;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

.bouncing-element {
    animation: bounce 2s infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideRight {
    to {
        transform: translateX(300%)
    }
}

@keyframes slideLeft {

    from {
        opacity: 0;
        transform: translate(-10%)
    }

    to {
        opacity: 1;
        transform: translateX(0%)
    }
}

@keyframes moveLeft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes glow {
    50% {
        box-shadow: 0px 0px 50px yellow
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


/* helpful flex resources 
https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-flexbox-tricks */