body {
    background-color: black;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    font-family: "sinete", sans-serif;
    font-weight: 400;
    font-size: 100px;
    font-style: normal;
    text-align: center;
    color: white;
}

h2 {
    font-family: "sinete", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: white;
}


#people {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: aliceblue;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.eyes {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
}


.body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.torso {
    border-bottom: 120px solid white;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    width: 50px;
}

.mouth {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 0px 0px 20px 20px;
}

.arm {
    margin-left: 5px;
    width: 20px;
    height: 50px;
    transform: skew(-10deg);
    background: white;
}

.row {
    display: flex;
    flex-direction: row;
}

.left {
    transform: skew(-50deg);
    position: absolute;
    left: 47%;
}

.right {
    transform: skew(-50deg);
    position: absolute;
    right: 47%;
}

.inline {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 50px;
    justify-content: space-between;
}

.white-box {
    background-color: white;
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 80%;
}
