a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}



body {
    background-color: #F0DDC2;
}

h1 {
    font-family: "altivo", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    font-size: 65px;
    position: absolute;
}

h2 {
    font-family: "altivo", sans-serif;
    font-weight: 500;
    font-style: italic;
}

h3 {
    font-family: "miller-text", serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 50px;
}

body {
    font-family: "altivo", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 25px;
}


#start {
    font-size: 65px;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 50%;
}

.name {
    font-size: 50px;
    text-align: left;
    position: absolute;
    top: 13%;
    left: 49%;
}


/* DRAWING */

.phone {
    height: 800px;
    width: 400px;
    background-color: #D6C2FF;
    border: 5px solid #6b4ea7;
    border-radius: 5%;
    position: relative;
    margin: auto;
    margin-top: -5%;
    padding: 10px;
}

.screen {
    height: 780px;
    width: 380px;
    background-color: #3B3F42;
    border-radius: 5%;
    position: absolute;
    right: 40%;
    bottom: 9%;
}


.screenBright {
    height: 780px;
    width: 380px;
    background-color: #FFFFFF;
    border-radius: 5%;
    position: absolute;
    right: 40%;
    bottom: 9%;
}

.cousin {
    height: 120px;
    width: 120px;
    background-color: #38CFFF;
    border-radius: 50%;
    position: absolute;
    top: 12%;
    left: 42%;
}

.eyes {
    height: 15px;
    width: 15px;
    background-color: #000000;
    border-radius: 50%;
}

.smile {
    width: 50px;
    height: 100px;
    border: solid 2px black;
    border-color: transparent transparent black;
    border-radius: 50px 50px 50px 50px;
    margin: auto;
    margin-top: -10%;
}

.speechCousin {
    height: 15%;
    width: 15%;
    border-radius: 25px 25px 25px 25px;
    background: #B7E1EE;
    position: absolute;
    top: 30%;
    left: 42%;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid #B7E1EE;
    border-bottom: 25px solid transparent;
    position: absolute;
    bottom: 10px;
}

/* this tutorial helped me -> https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_triangle-right */

.speechMe {
    height: 15%;
    width: 10%;
    border-radius: 25px 25px 25px 25px;
    background: #FAD553;
    position: absolute;
    top: 50%;
    right: 42%;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid #FAD553;
    border-bottom: 25px solid transparent;
    position: absolute;
    bottom: 10px;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 5% 5%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #27F87B;
    border-radius: 50%;
}

.button1:hover {
    background-color: #04AA6D;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #E08686;
    border-radius: 50%;
}

.button2:hover {
    background-color: #E08686;
    color: white;
}

/* sourced from https://www.w3schools.com/tags/tag_button.asp */

.nextPage {
    position: absolute;
    top: 75%;
    left: 65%;
}

.next {
    background-color: #150420;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-areas: auto auto auto auto auto auto auto;
    gap: 10px;
    background-color: hsl(0, 18%, 13%);
    padding: 10px;
}

.grid-container>div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1 {
    grid-area: 1/1/15/8;
    background-color: #BB8A50;
}

.item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #665944;
    color: white;

}

.item3 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #665944;
    color: white;

}

.item4 {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #665944;
    color: white;
}

.item5 {
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: #665944;
    color: white;

}

.item6 {
    grid-column-start: 5;
    grid-column-end: 6;
    background-color: #665944;
    color: white;

}

.item7 {
    grid-column-start: 6;
    grid-column-end: 7;
    background-color: #665944;
    color: white;

}

.item8 {
    grid-column-start: 7;
    grid-column-end: 8;
    background-color: #665944;
    color: white;


}

/* beginning of busy days */

.item9 {
    grid-area: 16/1/50/2;
    background-color: #EC8D8D;
}

.item10 {
    grid-area: 16/2/50/3;
    background-color: #EC8D8D;

}

.item11 {
    grid-area: 16/3/50/4;
    background-color: #EC8D8D;

}

.item12 {
    grid-area: 16/4/50/5;
    background-color: #EC8D8D;

}

.item13 {
    grid-area: 16/5/50/6;
    background-color: #EC8D8D;

}

.item14 {
    grid-area: 16/6/50/7;
    background-color: #EC8D8D;

}

.item15 {
    grid-area: 16/7/50/8;
    background-color: #FFF9F0;

}

.suggestion {
    height: 200px;
    width: 500px;
    background-color: #FFFFFF;
    border-radius: 50px 50px 50px 50px;
    position:absolute;
    left: 40%;
    bottom: 4%;
}

/* ANIMATION */

.send {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.send2 {
    opacity: 0;
    animation-delay: 2s;
}

.next1 {
    opacity: 0;
    animation-delay: 5s;
}

/* animation delay from https://www.w3schools.com/cssref/tryit.php?filename=trycss3_animation-delay */

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* fade in from https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/ */


.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 25px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

/* floating sourced from https://www.geeksforgeeks.org/css-floating-animation/ */

/* resourced from w3 schools tutorials */